<style type="text/css">
  
  
  .row{
    
    margin-right: 15px;

  }
 
</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
    
        <% @avances.each do |avance|%>
          <% if avance.id == @avances.first.id%>
            <div class="item active">
              <%= image_tag avance.avatar.url %>
              <div class="container">
                <div class="carousel-caption">
                  <h1><%= avance.title %></h1>
                  <p><%= avance.description %></p>
                  <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
                </div>
              </div>
            </div>    
          <% else %>
            <div class="item">
              <%= image_tag avance.avatar.url %>
              <div class="container">
                <div class="carousel-caption">
                  <h1><%= avance.title %></h1>
                  <p><%= avance.description %></p>
                  <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
                </div>
              </div>
            </div>
          <% end %>
        <% end %>

      </div>  
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Atras</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Siguiente</span>
      </a>
</div><!-- /.carousel -->






 <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">
      
      <!-- Three columns of text below the carousel -->
      <div class="row">
      <% @patrocinadores.each do |patrocinador| %>
        <div class="col-lg-4">
           <%= image_tag patrocinador.avatar.url(:medium), :class=> "img-circle", :width=>"140", :height=>"140"  %>
          <h2><%= patrocinador.name %></h2>
          <p><%= patrocinador.description %></p>
          <!-- <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p> -->
        </div><!-- /.col-lg-4 -->  
      <% end %>
      </div><!-- /.row -->


</div>


