<style type="text/css">
  .row{
    
  }
  .col-md-6{
    text-align: center;
   
    border: 10px solid transparent;
  }
  .interior {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(30, 87, 153, 0.2) 0%, rgba(125, 185, 232, 0) 100%);
    background-repeat: repeat;
    border-radius:10px;
    padding: 5px;
}

</style>

<% cont = 1 %>
<div class="row">
    <% @partners.each do |partner| %>
        <div class="col-md-6">
            <div class="interior">
              <h3><%= partner.clinic %></h3>
              <h4>Dr. <%= partner.doctor %></h2>
              <hr>
              <h5><%= partner.address %></h5>
              <h5>Telefono: <%= partner.phone %></h5>
              <h5>Celular: <%= partner.cell %></h5>
              <h5>Email: <%= partner.email %></h5>
              <h5>Sitio: <%= partner.web %></h5>
              <% if user_signed_in?%>
                <% if current_user.admin? %>
                  <%= link_to 'Show', partner, :class => "btn btn-danger" %>    
                  <%= link_to 'Edit', edit_partner_path(partner), :class => "btn btn-danger" %>
                  <%= link_to 'Destroy', partner, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
                <% end %>

              <% end %>
              
              
            </div>
        </div>
    <% end %>    
</div>


<!-- <table>
  <thead>
    <tr>
      <th>Clinic</th>
      <th>Doctor</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Cell</th>
      <th>Email</th>
      <th>Web</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @partners.each do |partner| %>
      <tr>
        <td><%= partner.clinic %></td>
        <td><%= partner.doctor %></td>
        <td><%= partner.address %></td>
        <td><%= partner.phone %></td>
        <td><%= partner.cell %></td>
        <td><%= partner.email %></td>
        <td><%= partner.web %></td>
        <td><%= link_to 'Show', partner %></td>
        <td><%= link_to 'Edit', edit_partner_path(partner) %></td>
        <td><%= link_to 'Destroy', partner, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 -->
 <% if user_signed_in? %>
    <% if current_user.admin? %>
      <%= link_to 'New Partner', new_partner_path,:class => "btn btn-danger" %>
    <% end %>
 <% end %>


